<% if user_signed_in? %>
<p>Merci de t'être inscrit·e,<%= current_user.email %> </p>
<%= link_to 'Logout', logout_path, class:"button button4" %>
<% else %>
<h1>Home#index</h1>
<p>Yosh Welcome</p>
<%= link_to 'Login', login_path, class:"button button4" %>
<%= link_to 'Signup', signup_path, class:"button button4" %>
<% end %>
